<launch>

  <include file="$(find mrs_uav_gazebo_simulation)/launch/simulation.launch">
    <!-- <arg name="spawner_config" value="$(find flight-8-path)/config/spawner.yaml" /> -->
  </include>

  <!-- <node pkg="rosservice" type="rosservice" name="spawner" args="call /mrs_drone_spawner/spawn ' f450'" /> -->
</launch>